<!-- <p>dashboard works!</p> -->
<div class="flex flex-col h-full w-full">
  <div class="h-auto w-full py-5 pl-10">
    <div class="flex space-x-3">
      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-orange-400">
          <i class=" text-white text-[10px] pi pi-plus absolute bottom-0.5 -right-1 bg-indigo-700 p-1 rounded-full"></i>
        </div>
        <label class="block text-center text-xs text-gray-500 ">Add to</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-sky-400">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Johnny</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-sky-300">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Abigail</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-indigo-300">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Philipe</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-sky-500">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Samuel</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-blue-600">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Daniel</label>
      </div>

      <div class="p-0.5 space-y-1">
        <div class="relative rounded-full w-14 h-14 bg-pink-200">
        </div>
        <label class="block text-center text-xs text-gray-500 ">Cecilia</label>
      </div>
    </div>
  </div>
  <div class="grow h-full w-full">
    <div class=" mt-8 px-12">
      <h1 class=" font-bold text-xl">30 Days Performance</h1>
      <div class="mt-4 grid grid-cols-3 gap-11">
        <div class="relative rounded-2xl bg-indigo-700 w-full p-8 overflow-hidden">
          <div class=" absolute w-32 h-40 bg-amber-400 -rotate-45 -right-8 -top-6 bottom-0"></div>
          <label class="text-white font-thin">VIEWS</label>
          <h1 class="text-white font-bold">7,442,100</h1>
        </div>

        <div class="relative rounded-2xl bg-indigo-700 w-full p-8 overflow-hidden">
          <div class=" absolute w-32 h-40 bg-orange-600 rotate-[150deg] -right-8 -top-8 bottom-0"></div>
          <label class="text-white font-thin">FOLLOWS</label>
          <h1 class="text-white font-bold">42,100</h1>
        </div>

        <div class="relative rounded-2xl bg-indigo-700 w-full p-8 overflow-hidden">
          <div class=" absolute w-40 h-52 bg-sky-300 rotate-[115deg] -right-20 -top-5 bottom-8"></div>
          <label class="text-white font-thin">LIKES</label>
          <h1 class="text-white font-bold">42,100</h1>
        </div>
      </div>
    </div>
    <div class=" mt-16 px-12 grid grid-cols-3 gap-11">
      <div class=" col-start-1 col-span-2">
        <h1 class=" font-bold text-xl">Analytics</h1>
        <div class=" rounded-xl bg-white p-10 mt-8 h-full">
          <label class="font-bold">Daily Views</label>
        </div>
      </div>
      <div class=" col-start-3 col-span-1">
        <h1 class=" font-bold text-xl">Events Distribution</h1>
        <div class=" rounded-xl bg-white p-10 mt-8 h-full">
          <label class="font-bold">Daily Views</label>
        </div>
      </div>
    </div>
  </div>
</div>
