<div class="h-screen w-screen">
  <div class="flex h-full bg-gray-100">
    <div class="relative flex-none h-full bg-white w-64">
      <div class="flex flex-col h-full">
        <div class="grid grid-cols-1 h-full w-full rounded-lg overflow-hidden relative">
          <div class="flex flex-col h-full space-y-2">
            <div class="h-24 w-full flex px-6 pt-6 space-x-2">
              <div class="w-14 h-11 rounded-lg bg-amber-400"></div>
              <div class="h-full w-full">
                <h1 class="block font-bold text-base text-gray-500">Redwhole</h1>
                <h5 class="block text-xs text-gray-400">Growth & Marketing</h5>
              </div>
            </div>
            <div class="grow h-full p-6 overflow-auto">
              <div class="flex w-full py-3 space-x-2 text-sm hover:font-bold cursor-pointer text-slate-800">
                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <i class="pi pi-th-large"></i>
                  </div>
                </div>

                <div class="flex flex-wrap content-center h-full">
                  <label>Dashboard</label>
                </div>
              </div>

              <div
                class="flex cursor-pointer w-full py-3 space-x-3 text-sm hover:font-bold hover:text-slate-800 text-slate-400">
                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <i class="pi pi-calendar"></i>
                  </div>
                </div>

                <div class="flex flex-wrap content-center h-full">
                  <label>Activity</label>
                </div>

              </div>

              <div
                class="flex cursor-pointer w-full py-3 space-x-3 text-sm hover:font-bold hover:text-slate-800 text-slate-400">
                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <i class="pi pi-cog"></i>
                  </div>
                </div>

                <div class="flex flex-wrap content-center h-full">
                  <label>Settings</label>
                </div>

              </div>

              <hr class=" mt-10">

              <div class="flex cursor-pointer w-full pt-3 justify-between">
                <div class="flex space-x-6">
                  <div class="flex flex-wrap content-center h-full">
                    <label class="text-sm font-bold cursor-pointer hover:text-black"> Posts </label>
                  </div>

                  <div class="flex flex-wrap content-center h-full">
                    <div class="border-l-4 border-r-4 border-l-white border-r-white border-t-8 border-t-black"></div>
                  </div>
                </div>
                <label class=" rounded-full border w-6 h-6">
                  <span class="flex flex-wrap content-center h-full w-full">
                    <span class="flex justify-center w-full text-xs">
                      0
                    </span>
                  </span>
                </label>
              </div>

              <div
                class="flex cursor-pointer w-full py-3 space-x-3 text-sm hover:font-bold hover:text-slate-800 text-slate-400">
                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <i class="pi pi-check-circle"></i>
                  </div>
                </div>

                <div class="flex flex-wrap content-center h-full">
                  <label>Published</label>
                </div>

              </div>

              <div class="flex cursor-pointer w-full py-2 justify-between">
                <div
                  class="flex cursor-pointer w-full py-3 space-x-3 text-sm hover:font-bold hover:text-slate-800 text-slate-400">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap content-center h-full">
                      <i class="pi pi-clock"></i>
                    </div>
                  </div>

                  <div class="flex flex-wrap content-center h-full">
                    <label>Today's Schedule</label>
                  </div>

                </div>

                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <label class="rounded-full border w-10 h-6">
                      <span class="flex flex-wrap content-center h-full w-full">
                        <span class="flex justify-center w-full text-xs">
                          +2
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="flex cursor-pointer w-full py-3 space-x-3 text-sm hover:font-bold hover:text-slate-800 text-slate-400">
                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <i class="pi pi-bookmark"></i>
                  </div>
                </div>

                <div class="flex flex-wrap content-center h-full">
                  <label>Bookmarks</label>
                </div>

              </div>
              <hr class=" mt-10">

              <div class="flex cursor-pointer w-full pt-3 justify-between">
                <div class="flex flex-wrap content-center h-full">
                  <label class="text-sm font-bold cursor-pointer hover:text-black"> Favorite Users </label>
                </div>

                <div class="flex flex-col">
                  <div class="flex flex-wrap content-center h-full">
                    <div class="border-l-4 border-l-white border-r-white border-r-4 border-t-8 border-t-black -rotate-90"></div>
                  </div>
                </div>
                <label class=" rounded-full border w-6 h-6">
                  <span class="flex flex-wrap content-center h-full w-full">
                    <span class="flex justify-center w-full text-xs">
                      0
                    </span>
                  </span>
                </label>
              </div>

            </div>


            <div class="h-auto flex w-full">
              <div class="w-full px-6 py-2">
                <div class="flex w-full py-3 space-x-2 text-sm hover:font-bold cursor-pointer text-slate-800">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap content-center h-full">
                      <i class="pi pi-plus"></i>
                    </div>
                  </div>

                  <div class="flex flex-wrap content-center h-full">
                    <label class="text-sm font-bold cursor-pointer ">Invite new member</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grow h-full">
      <router-outlet></router-outlet>
    </div>

    <div class="relative flex-none h-full bg-white w-96">
      <div class="flex flex-col h-full">
        <div class="grid grid-cols-1 h-full w-full rounded-lg overflow-hidden relative mb-2">
          <div class="flex flex-col h-full space-y-2">
            <div class="h-24 w-full flex px-6 pt-2 justify-between">
              <div class="h-full w-full">
                <div class="flex flex-wrap content-center h-full w-full">
                  <div>
                    <label class="block font-bold text-base text-black">Hi Kojo</label>
                    <label class="block text-xs text-gray-400">Good Morning!</label>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap content-center h-full w-full">
                <div class="flex justify-end w-full  space-x-2">
                  <div class="w-10 h-10 rounded-lg border shadow-lg">
                    <div class="flex flex-wrap content-center h-full w-full">
                      <div class="flex justify-center w-full">
                        <i class="pi pi-comment text-xl"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-10 h-10 rounded-lg border shadow-lg">
                    <div class="flex flex-wrap content-center h-full w-full">
                      <div class="flex justify-center w-full relative">
                        <div class=" absolute -top-0.5 right-2.5 bg-red-700 p-1 rounded-full"></div>
                        <i class="pi pi-bell text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grow h-full py-6 overflow-auto">
              <div class="w-full">
                <div class="flex justify-center w-full mt-7">
                  <div class="w-20 h-20 rounded-lg shadow-lg shadow-orange-200 bg-orange-400"></div>
                </div>

                <div class="flex justify-center w-full mt-6">
                  <div class=" text-center space-y-1">
                    <label class="block font-bold text-base text-black">IO Kojo</label>
                    <label class="block text-xs text-gray-400">Frontend Developer</label>
                  </div>
                </div>

                <div class="flex justify-between w-full mt-6 px-20">
                  <div class=" text-center">
                    <label class="block font-bold text-xs text-black">768K</label>
                    <small class="block text-xs text-gray-400">Followers</small>
                  </div>
                  <div class=" text-center">
                    <label class="block font-bold text-xs text-black">298</label>
                    <small class="block text-xs text-gray-400">Following</small>
                  </div>
                  <div class=" text-center">
                    <label class="block font-bold text-xs text-black">438</label>
                    <small class="block text-xs text-gray-400">Post</small>
                  </div>
                </div>

                <div class="flex justify-between w-full mt-6 px-12 space-x-3">
                  <button class="text-xs border border-indigo-700 text-white bg-indigo-700 py-2 rounded-lg w-full"> View
                    Profile </button>
                  <button class="text-xs border py-2 rounded-lg w-full"> Edit Profile </button>
                </div>

                <div class="flex w-full mt-8 px-4">
                  <div class="grid grid-cols-2 gap-4 w-full" >
                    <div class="w-full bg-purple-100 rounded-lg h-52">
                      <div class="flex justify-end p-4">
                        <i class="pi pi-times text-xs"></i>
                      </div>
                      <div class="h-full p-5">
                        <i class="pi pi-video text-4xl text-purple-700"></i>
                        <div class="mt-5">
                          <label class="text-purple-700 block text-lg font-bold">Videos</label>
                          <label class=" text-[11px] font-bold text-purple-700">Click To Add Video</label>
                        </div>
                      </div>
                    </div>
                    <div class="w-full bg-red-100 rounded-lg h-52">
                      <div class="flex justify-end p-4">
                        <i class="pi pi-times text-xs"></i>
                      </div>
                      <div class="h-full p-5">
                        <i class="pi pi-camera text-4xl text-red-800"></i>
                        <div class="mt-5">
                          <label class="text-red-800 block text-lg font-bold">Photos</label>
                          <label class=" text-[11px] font-bold text-red-800">Click To Add Photo</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="h-auto w-full px-3">
              <div class="grid grid-cols-3 w-full h-full rounded-lg border overflow-hidden">
                <div class="h-32 w-full bg-gray-200"></div>
                <div class="h-32 w-full bg-slate-300"></div>
                <div class="h-32 w-full bg-gray-200"></div>
                <div class="h-32 w-full bg-slate-300"></div>
                <div class="h-32 w-full bg-gray-200"></div>
                <div class="h-32 w-full bg-slate-300"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
